.Body{
height: 900px;
width: 1440px;
left: -1.1368683772161603e-13px;
top: 92px;
border-radius: 0px;
position: absolute;
width: 1440px;
height: 900px;
left: 0px;
top: 92px;

background: url(/public/Fondo.jpg);

}